<%- include('partials/header') %>
<br><br>
<h1 style="text-align: center;">Ankit Messenger</h1>
<img class="home-logo" src="https://te.legra.ph/file/a13b6c99ebcd96c88fdd6.jpg" alt="xnkit logo">
<br>

<center>
        <a class="btn btn-primary submit-btn" href="register">Register</a>
        <br>
        <a class="btn btn-primary submit-btn" href="login">Login</a>
</center>



    
<%- include('partials/footer') %>
